/*Common shared style*/
*{
  font-family: 'Lato',sans-serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;


}

.text-primary {
  color: #FD6E0A;
}

.btn-primary{
  background-color: #FD6E0A;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 15px 35px;
  border: none;
}

/*nav related style*/

.header {
  background-color: #FFF8F3;
}

nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 250px;
  padding-top: 40px;
  margin-bottom: 30px;
  padding-right: 150px;
  
}

.nav-title {
  color: black;
  font-size: 45px;
  font-weight: 800;
  height: 61px;
  width: 121px;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav li{
  list-style: none;
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  color:  #474747;
}





/**banner*/


.banner {
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}


.banner-des{
  margin-left: 250px;
}

.des-first {
  font-size: 45px;
  color: #474747;
  margin-bottom: 1px;
}

.des-second{
  font-size: 85px;
  color: #1E1E1E;
  font-weight: bold;
  margin-bottom: 10px;

}

.des-title {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;

}


.des-btn1 {
  background-color: #FD6E0A;
  border: none;
  color: white;
  width: 200px;
  height: 64px;
  font-style: bold;
  border-radius: 4px;
  margin-right: 20px;
}

.des-btn2 {
  border: 1px solid #FD6E0A;
  color: #FD6E0A;
  width: 160px;
  height: 64px;
  font-style: bold;
  border-radius: 4px;
}

.banner-img {
  padding-right: 30px;
  position: relative;
  bottom: -6px;

}

